
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
1. R
1. SQL
1. Java
1. Julia
1. Scala

Some of the commonly used libraries used by Data Scientists include:

* Pandas
* Numpy
* Matplotlip
* TensorFlow
* SciPy

|Data Science Tools|
|--------------------------|
|Jupyter Notebook |
|Watson Studio|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**Objectives:**

List popular languages for Data Science

* Python
* R
* SQL
* Java
* Julia
* Scala

## Author

Aung Myat Thu